
<footer class="v-site-footer">
  <div class="v-site-footer__container v-container">
    <div class="v-site-footer__row v-row">
      <div class="v-site-footer__logo v-col-12 v-col-sm-2"><img src="img/logo.png"/>
      </div>
      <div class="v-site-footer__info v-col-12 v-col-sm-10">
        <button class="v-site-footer__link" data-action="v-modal" data-open="#modal-politic">Политика конфиденциальности
        </button>
        <button class="v-site-footer__link" data-action="v-modal" data-open="#modal-otkaz">Отказ от ответственности
        </button>
      </div>
    </div>
  </div>
</footer>