
<div class="v-fixed v-fixed_md-top">
  <div class="v-nav v-nav_style" id="js-wrapper-navigation">
    <div class="v-nav__container v-container">
      <div class="v-nav__row v-row v-flex v-flex_y-center">
        <div class="v-nav__logo v-col-8 v-col-md-2">
          <button class="v-hamburger v-hamburger_effect-1" type="button" id="js-vnav__btn"><span class="v-hamburger__lines"><span>Line1</span><span>Line2</span><span>Line3</span></span>
            <!--+e.SPAN.text Menu-->
          </button>
          <div class="v-nav__logo-content"><img class="v-nav__logo-content-img" src="img/logo.png" alt="" role="presentation"/>
          </div>
        </div>
        <nav class="v-nav__menu v-col-12 v-col-md-10" id="js-navigation"><ul>
          <li class="v-nav__menu-item"><a href="#section-consultation">Что будет на консультации</a>
          </li>
          <li class="v-nav__menu-item"><a href="#section-about">О нас</a>
          </li>
          <li class="v-nav__menu-item"><a href="#section-review">Отзывы родителей</a>
          </li>
          <li class="v-nav__menu-item">
            <button class="v-btn v-btn_navigation v-effect v-effect_bounce-top" data-action="v-modal" data-open="#modal-form">Записаться на консультацию
            </button>
          </li>
        </nav>
      </div>
    </div>
  </div>
</div>