extends layout
block head
  +add-meta('Unit Test - Documentation')
block intro
  +docs-intro('Documentation', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ipsa repellat quia totam ab doloribus!')
block content
  +e.group
    +b.H1.vtitle-lg Hi!sdfasd