doctype html
html(lang="ru")
	head
		include ../pug/assets/meta
		include ../pug/bem/index
		include ../pug/helpers/config
		include ../pug/helpers/mixins

		include helpers/mixins
		
		block css
			+css("//fonts.googleapis.com/css?family=Roboto:300,400,700,900&amp;subset=cyrillic")
			+css("../css/style.css")
			+css('../css/docs/docs.css')
			+css('../css/docs/prism.css')
		block js
			+js("../js/vanilla.main.js")
			+js("../js/docs/prism.min.js")
		block head
	body
		block nav
		.site#page
			block header
			.site-content#content
				+b.SECTION.vdocs
					+e.intro
						.vcontainer
							block intro
					block special
					.vcontainer
						.vrow
							+e.content.vcol-12.vcol-sm-8
								block content
							+e.sidebar.vcol-12.vcol-sm-4
								+e.P.sidebar-title Available elements
								+e.UL.sidebar-list
									+e.LI.sidebar-list-item
										+e.A.sidebar-list-item-link(href="button.html") Buttons
									+e.LI.sidebar-list-item
										+e.A.sidebar-list-item-link(href="modal.html") Modal
									+e.LI.sidebar-list-item
										+e.A.sidebar-list-item-link(href="title.html") Title
									+e.LI.sidebar-list-item
										+e.A.sidebar-list-item-link(href="form.html") Form
									+e.LI.sidebar-list-item
										+e.A.sidebar-list-item-link(href="collapse.html") Collapse
			block footer