extends layout
block head
	+add-meta('Unit Test - Title')
block intro
	+docs-intro('Title', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ipsa repellat quia totam ab doloribus!')
block content
	+e.group
		+b.H4.vtitle-xs Title Extra Small
		+docs-code('pug')
			| +b.H4.vtitle-xs Title Extra Small
	+e.group
		+b.H4.vtitle-sm Title Small
		+docs-code('pug')
			| +b.H4.vtitle-sm Title Small
	+e.group
		+b.H4.vtitle-md Title Medium
		+docs-code('pug')
			| +b.H4.vtitle-md Title Medium
	+e.group
		+b.H4.vtitle-lg Title Large
		+docs-code('pug')
			| +b.H4.vtitle-lg Title Largessss