@include b('site-header'){
	position: relative;
	@include padding-y(45px, 60px);
	z-index: z-index('default');
	@include bg('../img/header.jpg');
	color: $color-white;
	@media screen{
		@include min(md){
			background-attachment: fixed;
		}
	}
	@include min(sm){
		@include padding-y(75px, 50px);
	}
	@include min(md){
		@include padding-y(140px, 80px);
	}
	@include e('row'){
		@include min(md){
			justify-content: space-between;
		}
	}
	@include e('title'){
		margin-bottom: 30px;
		@include ee('flag'){
			display: inline-block;
			position: relative;
			&:before{
				@include pseudo();
				left: 105%;
				top: 0;
				@include size(27px, 18px);
				@include bg('../img/flag-poland.png');
			}
		}
	}
	@include e('description'){
		$description-color: transparentize($color-black, 0.2);
		@include ee('title'){
			padding: 15px 15px 60px 15px;
			background-color: $description-color;
		}
		@include ee('content'){
			position: relative;
			top: -30px;
			padding-right: 30px;
			@include max(sm){
				font-size: 16px;
			}
			@include min(sm){
				padding-right: 75px;
				top: -45px;
			}
			@include ee('inner'){
				padding: 5px 30px 30px 15px;
				background-color: $description-color;
			}

		}
		@include ee('footer'){
			margin-top: 15px;
		}
	}
	@include e('quadro'){
		top: calc(100% - #{$quadro-size / 3});
		left: 0;
		@include min(md){
			top: calc(100% - #{$quadro-size_md / 3});
		}
	}
	@include e('column'){
		@include m('form'){
			@include min(sm){
				position: relative;
				top: 200px;
			}
		}
	}
}