%btn-placeholder{
  display: inline-block;
  position: relative;
  @include btn-size($btn-default-padding, $btn-default-size);
  border: none;
  border-radius: 0;
  z-index: 1;
  overflow: hidden;
  max-width: 100%;
  text-decoration: none;
  font-size: 16px;
  font-family: 'FormularBold';
  line-height: 1.4;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transform: translateZ(0);
  @include transition();
  
}

@include b('btn'){
  @extend %btn-placeholder;
  &-group{
    font-size: 0;
    @include b('btn'){
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
  &_size{
    &-lg{
      @include btn-size($btn-large-padding, $btn-large-size);
    }
    &-fluid{
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  &_shadow{
    &-brand-1{
      box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.15);
    }
    &:hover{
      box-shadow: none;
    }
  }
  &_navigation{
    background-color: $color-responsive-menu-light;
    color: #fff;
    @include max(md){
      padding: 15px;
      width: 100%;
      font-size: 18px;
      text-align: left;
    }
    @include min(md){
      background-color: $color-brand-1;
      box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.15);
      &:before{
        background-color: darken($color-brand-1, 10%);

      }
    }
  }

  //-
  //- Iteration button fluid color
  //-

  @include btn-static-iteration();

  //-
  //- Iteration button border-color
  //-
  @include btn-border-iteration();
}