include ../bem/index
include ../helpers/config
include ../helpers/mixins
- var iconClass = '_left v-col-12 v-col-sm-6 v-col-md-4';
+b.SECTION.benefits._organization
	+quadro('_style-1 benefits__quadro_1')
	+quadro('_style-2 benefits__quadro_2')
	.v-container
		+b.H3.title-md.title-section Мы организуем поступление так, что Вам даже не придется никуда ехать
		.v-row
			+icon(iconClass, 'img/icon-benefit-1.png', 'Всё в удаленном режиме')
				p Если у Вас нет времени или возможности приехать к нам в офис, мы организуем всё удаленно. Собеседование с ребенком по Скайпу, доставка документов по почте
			+icon(iconClass, 'img/icon-benefit-2.png', 'Соберем документы и откроем визу')
				p Особенность Польши в том, что там каждая школа устанавливает свои правила поступления. Мы общаемся со школами напрямую и поэтому без ошибок и задержек делаем все нужные документы и визу
			+icon(iconClass, 'img/icon-benefit-3.png', 'Отвезем, поселим, обеспечим опекуна')
				p После поступления мы едем с Вашим ребенком в Польшу, договариваемся за его поселение в общежитие, покупаем местную SIM-карту и обеспечиваем ему личного опекуна
			+icon(iconClass, 'img/icon-benefit-4.png', 'Продолжим поддерживать после поступления')
				p Первый год учебы мы постоянно на связи с Вашим ребенком, его учителями и директором школы. Вы всегда в курсе его успеваемости, поведения и местонахождения
			+icon(iconClass, 'img/icon-benefit-5.png', 'Оперативно решаем любые ситуации')
				p Вы знаете детей - они любознательны и активны. К сожалению, это не всегда хорошо заканчивается. Но будьте уверены, что мы обеспечим круглосуточный присмотр за Вашими детьми и квалифицированную медицинскую помощь
			+icon(iconClass, 'img/icon-benefit-6.png', 'Помогаем выбрать специализацию')
				p Не беда, если Ваш ребенок пока не решил, на кого хочет учиться. Мы проведем с ним комплексное интервью, выявим сильные стороны и предложим несколько школ, где ему будет комфортнее всего