include ../bem/index
include ../helpers/config
+b.SECTION.future
	.v-container
		.v-row
			+e.column._text._text-small.v-col-12.v-col-sm-6
				h3.v-title-md.v-offset-static-sm
					| Какие шансы 
					span.v-color-brand-2 остаться в Польше 
					| после учебы?
				.v-text
					p Варианта по сути 2.
					p Если Ваш ребенок окончит лицей или школу, то сможет поступить в польский или практически любой европейский ВУЗ. По статистике, каждый 3-й украинский выпускник успешно поступает и остается в Европе.
					p Конечно, Вы посматривали в сторону Европы… но как всё устроить?
					p Если же Вы окончите техникум, то будете иметь уже готовую профессию. И может остаться работать по специальности в Европе.
			+e.column._image.v-col-12.v-col-sm-6
				+e.IMG.img(src="img/future-2.png")
				+e.SPAN.icon._3 ?
				+e.SPAN.icon._4 ?