include ../bem/index
include ../helpers/config
include ../helpers/mixins
+b.SECTION.for-what
	+quadro('_style-3 for-what__quadro_1')
	.v-container
		+e.H3.title.title-md
			|Зачем мне консультация?
			br
			|Почитаю всё сам в Интернете …