include ../bem/index
include ../helpers/config
+b.SECTION.future
	.v-container
		.v-row
			+e.column._text.v-col-12.v-col-sm-6
				h3.v-title-md.v-offset-static-sm
					span.v-color-brand-2 Какое будущее 
					| Вы
					| готовите своему ребенку?
				.v-text
					p Давайте честно: единственное, что «светит» Вашему чаду после украинской школы или даже университета - это зарплата 5000 грн. и офис без кондиционера.
					p Не хочется нагнетать, но это правда так.
					p Конечно, Вы посматривали в сторону Европы… но как всё устроить?
					p Это же дорого… сложно… Да и как отпустить ребенка в чужую страну без присмотра?
			+e.column._image.v-col-12.v-col-sm-6
				+e.IMG.img(src="img/future-1.png")
				+e.SPAN.icon._1 !
				+e.SPAN.icon._2 !