include ../bem/index
include ../helpers/config
include ../helpers/mixins
- var iconClass = '_left-icon v-col-12 v-col-sm-6';
+b.SECTION.benefits._result#section-about
	+quadro('_style-2 benefits__quadro_2')
	.v-container
		+b.H3.title-md.title-section Подтверждаем свои слова реальными результатами детей
		.v-row
			+icon(iconClass, 'img/icon-benefit-7.png', '500+')
				p Украинских детей успешно поступили в польские школы с нашей помощью
			+icon(iconClass, 'img/icon-benefit-8.png', 'Каждый 3-й')
				p Поступил в ВУЗ или устроился на работу в Польше после окончания лицея
			+icon(iconClass, 'img/icon-benefit-9.png', '70%')
				p Учеников переезжают жить и работать в страны Западной Европы
			+icon(iconClass, 'img/icon-benefit-10.png', '7 лет')
				p Наша компания отправляет украинских детей учиться за границу. За это время было лишь 2% отказов