include ../bem/index
include ../helpers/config
include ../helpers/mixins
- var reviewClass = 'v-col-12 v-col-sm-6';

+b.SECTION.review.section#section-review
	.v-container
		+e.shadow.shadow__
			+e.header
				+b.H3.title-md.offset-static-md
					+b.SPAN.color-brand-2 Отзывы родителей 
					| счастливых 
					br
					| польских учеников из Украины
			.v-row
				+review(reviewClass, 'Светлана и Геннадий Новиковы', 'Крым', 'img/review-1.png')
					p Мы отправили своего ребенка учиться в Польшу после 9-го класса. Компания “Освита Маркет” очень помогла нам в коммуникации с преподавательским составом, в размещении ребенка. Через представителей компании мы всегда оперативно узнавали о проблемах в учебе, если таковые возникали.
					p Было приятно, что поляки хорошо относятся к нашим детям, во всем помогают. Очень редко бывает, что дети попадают в разные неприятные ситуации, так как за ними постоянно присматривают учителя, воспитатели и психологи. Дети привыкают к самостоятельной жизни!
				+review(reviewClass, 'Вера Пархоменко', 'Винница', 'img/review-2.png')
					p О компании “Освита Маркет” услышали от знакомых и сразу решили проконсультироваться насчет поступления. Польский учили всего пару месяцев и по приезду уровень языка был средний. 
					p Но это не помешало сыну быстро адаптироваться, подтянуть польский и показывать хорошую успеваемость. Своим выбором довольны, так как нас грамотно проконсультировали и реально помогли с поступлением
				+review(reviewClass, 'Людмила Жук', 'Борисполь', 'img/review-3.png')
					p Ехать учиться за рубеж мы решили после 9-го класса. Неожиданным было то, что ребенок отлично адаптировался к условиям проживания, нашел себя в коллективе, плюс занятия спортом также помогают скрасить проживание вдали от родителей. А самое главное начал учиться лучше чем в Украине. 
					p Компания Освита Маркет очень помогла не только в организационных моментах, но и морально поддерживали нас и ребенка. Потому что до отъезда в Польшу неоднократно посещали всяческие сомнения. Помимо всего сотрудники компании четко и доступно давали ответы на все вопросы
				+review(reviewClass, 'Виолетта Рудновская', 'Миргород', 'img/review-4.png')
					p Мы обращались в разные компании, так как моя дочь училась в Украине на ветеринара и мы подыскивали техникум с похожей специальностью в Польше. И только “Освита Маркет” предложила учебное заведение, которое полностью нам подходило.
					p Моя Алиса очень довольна и обучением, и питанием,  и режимом. Много тренировок и отдыха в техникуме, у нее много подруг и друзей, хотя она в учебном заведении одна только из Украины. На сегодня проблем в общении с поляками не возникает ни с языком, ни с традициями
				+review(reviewClass, 'Наталья Божок', 'Киев', 'img/review-5.png')
					p Мы отправили дочь в Польшу после 9-го класса и очень переживали, что ребенок в столь ЮНОМ возрасте остался без опеки родителей, да еще и в другой стране…
					p Однако, нас очень удивило прекрасное отношение дирекции школы и опекунов школы как к детям, так и к нам - родителям.
					p Безусловно, “Освита Маркет” очень помогла нам на всех этапах поступления и даже больше. Мы уже посоветовали Вашу компанию нашим друзьям, и некоторые даже уже заключили контракт с Вами.
				+review(reviewClass, 'Снежанна Малиновская', 'ГОРОД', 'img/review-6.png')
					p Ми відправили сина на навчання до Польщі після 9-го класу. Особливих побоювань в мене не було, але одразу після вступу мене приємно вразила висока якість харчування у ліцеї. 
					p Найбільше, що сподобалося сину - це самостійне життя. Нові враження, нові друзі, усвідомлення відповідальності за свої дії та відчуття того, що твоє життя у твоїх руках.
					p Компанія “Osvita Market” надала вичерпну актуальну інформацію про ліцеї Польщі та напрямки навчання. Співробітники компанії завжди були он-лайн з будь-яких питань.
				+review(reviewClass, 'Ирина Батина', 'ГОРОД', 'img/review-7.png')
					p Перед відправкою, ми побоювалися, що дитина занадто  "домашня" та не зможе адаптуватися до абсолютно нового підходу до навчання, нового класу та вчителів, в умовах іноземного середовища та за необхідності самостійно задовільняти свої побутові потреби.
					p Нам допомогло дружнє ставлення вчителів і взаємодопомога дітей. Також дуже допомогли професіонали з “Osvita Market”, які завжди готові підстрахувати в екстренних випадках.
				+review(reviewClass, 'Дмитрий Сигнеев', 'ГОРОД', 'img/review-8.png')
					p Больше всего ему и нам родителям нравиться отношение учителей к детям, а со временем и отношение детей к учителям. Дети общаются с учителями очень непринужденно, свободно и легко. Они могут вступать в дискуссию с учителем если с чем то не согласны и решать это конструктивным методом. Учителя всегда готовы помочь ребенку в том случае если он этого просит и проявляет инициативу сам и никогда не откажут сославшись на плотный график, хотя на самом деле график у них очень плотный.
					p Мы очень рады встрече с компанией “Osvita Market” и за их ценные советы относительно обучения в Польше. На сегодняшний день мы не разу не пожалели что отправили сына на учебу за границу..