-
	var navigation = [
		{
			name: 'Что будет на консультации',
			link: '#section-consultation'
		},
		{
			name: 'О нас',
			link: '#section-about'
		},
		{
			name: 'Отзывы родителей',
			link: '#section-review'
		}
	];

	var wordpress = false;

	var themePrefix = '';
	var themeNav = 'vnav';