.vdocs__intro {
  padding-top: 90px;
  padding-bottom: 90px;
  margin-bottom: 45px;
  color: #fff;
  background-color: #ff911b;
}

.vdocs__intro-title {
  font-size: 50px;
  font-weight: bold;
}

.vdocs__intro-description {
  font-size: 20px;
}

.vdocs__section {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.vdocs__group {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.vdocs__group:not(:last-child) {
  border-bottom: 1px solid #e4e4e4;
}

.vdocs__group:not(:first-child) {
  margin-top: 30px;
}

.vdocs__group-title {
  position: relative;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
  color: #ff911b;
}

.vdocs__sidebar-list {
  padding: 15px;
  list-style: none;
}

.vdocs__sidebar-list-item {
  display: block;
}

.vdocs__sidebar-list-item-link {
  display: block;
  padding: 5px 0;
  color: #999;
  text-decoration: none;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
}

.vdocs__sidebar-list-item-link:hover {
  color: #ff911b;
}
