/// Sizes for elements.
$sizes: (
	'v-title-xs': (
		xs:   18px
	),
	'v-title-sm': (
		sm:   21px,
		md:   24px
	),
	'v-title-md': (
		sm:   30px,
		md:   36px
	),
	'v-title-lg': (
		sm:   40px,
		md:   50px,
		lg:   53px
	)
);


%v-title-default{
	margin-top: 5px;
	line-height: 1.2;
	font-weight: normal;
	@extend .bold;
}
@include b('title'){
	&-xs{
		font-size: 18px;
		@include fs('v-title-xs');
		@extend %v-title-default;
	}
	&-sm{
		font-size: 20px;
		@include fs('v-title-sm');
		@extend %v-title-default;
	}
	&-md{
		font-size: 25px;
		@include fs('v-title-md');
		@extend %v-title-default;
	}
	&-lg{
		font-size: 30px;
		@include fs('v-title-lg');
		@extend %v-title-default;
	}
	&-section{
		text-align: center;
		margin-bottom: 45px;
		@include min(sm){
			margin-bottom: 60px;
		}
	}
}